.card__container{
    position: relative;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    min-width: 700px;
    width: 700px;
    column-gap: 1.8rem;
}

.card__container:hover{
    transition: 0.3s ease-out;
    transform: scale(1.1);
    z-index: 100;
}

.card__content{
    position: relative;
    border: 1px solid rgba(0,0,0, 0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}

.card__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}